<div class="col s6 offset-s3 new-heading">
  <h3>New Contact</h3>
</div>

<div class="row">
    <form class="col s8 offset-s2">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="address" type="text">
          <label for="address">Address</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="email" type="email" class="validate">
          <label for="email">E-mail</label>
        </div>
        <div class="input-field col s6">
          <input id="tel" type="tel" class="validate">
          <label for="tel">Phone</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light col s2 offset-s5 blue lighten-2 add-btn" type="" name="action">Submit
    <i class="material-icons right">send</i></button>
    </form>
  </div>