@import "../modules/colors";

.content-body {
  font-family:  'Francois One';
  min-height: 705px;
  margin-top: 15px;
  max-width: 1060px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2.5px solid #add8e6;
  box-shadow: 0px 5px 5px #888888;

  h3 {
    text-align:center;
    color: $blue;
  }
}

.new-heading {
  margin: 60px 0 20px 0;
}

.col-icon {
  color: $lightblue;
}