@import "../modules/colors";

.content-body {
  min-height: 705px;
  margin-top: 15px;
  max-width: 1060px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2.5px solid #add8e6;
  box-shadow: 0px 5px 5px #888888;
}